<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75668733228-1njkf6p09b3nitpm1do008nn9hgl2pg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75668733228-1njkf6p09b3nitpm1do008nn9hgl2pg8</string>
	<key>API_KEY</key>
	<string>AIzaSyBZxZ4YvWj8h1Dh0bNCu-GoZJOsvgXcf8w</string>
	<key>GCM_SENDER_ID</key>
	<string>75668733228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.chatham.alpha</string>
	<key>PROJECT_ID</key>
	<string>chatham-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>chatham-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75668733228:ios:0140671b8864bfb1f88089</string>
	<key>DATABASE_URL</key>
	<string>https://chatham-staging.firebaseio.com</string>
</dict>
</plist>